@use '../mediaQueries.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  .fixed_top {
    position: fixed;
    z-index: 9999;
    width: 100%;
  }

  .top_content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 130px;

    .main_content_container {
      padding-top: 0;
      padding-bottom: 0;
      margin: auto;
    }

    @include respond-to-display-tablet() {
      padding-top: 100px;
    }
  }

  & .main_content_container {
    margin-bottom: 4rem;

    @include respond-to-display-screen-normal_big_bigger() {
      padding: 5% 15% 0 15%;
    }

    @include respond-to-display-mobile-big() {
      padding: 2%;
    }

    @include respond-to-display-mobile-normal() {
      padding: 2% 0 0 0;
    }
  }
}
