@import '../../mediaQueries.scss';

.container {
  display: flex;
  width: 100%;
  margin: auto;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  //background: var(--theme-font-color-side);
  border-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  align-items: center;

  @include respond-to-display-mobile-normal() {
    flex-wrap: wrap;
  }

  @include respond-to-display-mobile-mini() {
    border-radius: 0;
    width: 100%;
    box-shadow: none;
  }
}

.container > div:first-child {
  flex: 1;
  padding: 0 0 0 5%;
}

.container > div:first-child h3,
.container > div:first-child p {
  margin-bottom: 10px;
  color: var(--theme-font-color);
}

.hire_me_picture {
  flex: 1;
  width: 100%;
  height: 400px;
  background-image: url(https://s3.tebi.io/resume-site-pictures/a5b4d47a-9285-4e44-898e-3c331f1e9044_contactme.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.map_block {
  position: relative;

  border-radius: 30px;
  overflow: hidden;
  flex: 1.5;

  @include respond-to-display-mobile-normal() {
    border-radius: unset;
    flex: unset;
    width: 100%;
  }
}

.map_block button {
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: unset;
}
