@import '../../mediaQueries.scss';

@include respond-to-display-screen-normal_big_bigger() {
  .grid_container {
    grid-template-columns: 1fr 2fr 2fr;
  }
}

@include respond-to-display-tablet() {
  .grid_container {
    grid-template-columns: 2fr 1fr;
    gap: 10px;

    .grid_item:nth-child(2) {
      display: flex;
      justify-content: end;

      a {
        margin-top: 0;
      }
    }

    .grid_item:nth-child(3) {
      grid-column: 1 / 3;
    }

    .grid_item:last-child button {
      width: 100%;
    }
  }
}

@include respond-to-display-mobile-normal() {
  .grid_container {
    grid-template-columns: none;

    .grid_item {
      & > *:not(a) {
        padding: 0 10px;
      }
    }

    .grid_item:nth-child(2) {
      display: flex;
      justify-content: start;
      padding: 0 10px;
    }

    .grid_item:nth-child(3) {
      grid-column: 1;
    }

    .grid_item:last-child button {
      border-radius: 0;
    }
  }
}

.blob {
  transition: fill 0.3s ease;
  fill: var(--theme-color-button);
}

.blob_item {
  width: 400px;

  @include respond-to-display-tablet() {
    display: none;
  }
}

.blob_img {
  width: 240px;
}

.grid_item ul {
  list-style: none;
  display: block;

  @include respond-to-display-tablet() {
    display: flex;
  }

  @include respond-to-display-tablet() {
    justify-content: space-between;
  }
}

.grid_item li {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.grid_item li div {
  width: 40px;
  height: 40px;
  background-size: 40px;
}

.grid_item ul li img {
  width: 35px;
  height: auto;
}

.home_scroll_button_down {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 7px;
  color: var(--theme-font-color);
  transition: transform 0.3s ease, padding 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;

  @include respond-to-display-screen-normal_big_bigger() {
    position: absolute;
  }

  @include respond-to-display-tablet() {
    position: relative;
    width: fit-content;
  }
}

.home_scroll_button_down:hover {
  border-radius: 10px;
  background-color: var(--theme-scroll);
  padding: 10px;

  .arrowDown {
    transform: rotateZ(90deg);
  }

  @include respond-to-display-screen-normal_big_bigger() {
    transform: translateY(10px);
  }

  @include respond-to-display-tablet() {
    transform: none;
  }
}

.scroll_button_text {
  color: var(--theme-font-color);
}

.arrowDown {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url(https://s3.tebi.io/resume-site-pictures/6cc6c719-dbfb-4237-984e-13db49e0e728_arrow_down.png) no-repeat
    center / cover;
  transition: transform 0.3s ease;
}

.home_scroll_button_down img {
  width: 17px;
  height: auto;
  margin-right: 8px;
}

.linkedIn {
  background: url(https://s3.tebi.io/resume-site-pictures/a95dbf9e-dc7d-4843-8348-73b4d906b4af_linked_in.png) no-repeat
    center;
}

.gitHub {
  background: url(https://s3.tebi.io/resume-site-pictures/709ee9f3-aad3-46cd-b5d5-aa73f1088274_github.png) no-repeat
    center;
}

.instagram {
  background: url(https://s3.tebi.io/resume-site-pictures/1123c32f-ac39-4942-8bff-7ef6dabcd29f_instagram.png) no-repeat
    center;
}

.telegram {
  background: url(https://s3.tebi.io/resume-site-pictures/a5eb8610-1e6b-4117-9578-6d3924b2e15e_telegram.png) no-repeat
    center;
}

.gmail {
  background: url(https://s3.tebi.io/resume-site-pictures/49088887-35ab-492e-b429-1af0122809ea_gmail.png) no-repeat
    center;
}
